{% extends 'base.html.twig' %}

{% block title %}Overzicht van auteurs{% endblock %}

{% block body %}
    <h1>Overzicht van auteurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Naam</th>
                <th>Acties</th>
            </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td>{{ author.id }}</td>
                <td>{{ author.name }}</td>
                <td>
                    <a href="{{ path('app_author_show', {'id': author.id}) }}">Toon</a> |
                    <a href="{{ path('app_author_edit', {'id': author.id}) }}">Bewerken</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Geen auteurs gevonden.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_author_new') }}">Auteur toevoegen</a>
{% endblock %}
