{% extends 'base.html.twig' %}

{% block title %}Overzicht van klanten{% endblock %}

{% block body %}
    <h1>Overzicht van klanten</h1>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Naam</th>
                <th>E-mailadres</th>
                <th>Telefoon</th>
                <th>Postcode</th>
                <th>Huisnummer</th>
                <th>Acties</th>
            </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td>{{ customer.id }}</td>
                <td>{{ customer.name }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.phone }}</td>
                <td>{{ customer.postalCode }}</td>
                <td>{{ customer.houseNumber }}</td>
                <td>
                    <a href="{{ path('app_customer_show', {'id': customer.id}) }}">Toon</a> |
                    <a href="{{ path('app_customer_edit', {'id': customer.id}) }}">Bewerken</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Geen klanten gevonden.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_customer_new') }}">Klant toevoegen</a>
{% endblock %}
