{% extends 'base.html.twig' %}

{% block title %}Overzicht van boeken{% endblock %}

{% block body %}
    <h1>Overzicht van boeken</h1>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Titel</th>
                <th>Samenvatting</th>
                <th>Publicatiedatum</th>
                <th>Acties</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.summary }}</td>
                <td>{{ book.publicationDate ? book.publicationDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_book_show', {'id': book.id}) }}">Toon</a>
                    <a href="{{ path('app_book_edit', {'id': book.id}) }}">Bewerken</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Geen boeken gevonden.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_book_new') }}">Boek toevoegen</a>
{% endblock %}
