<div>
    <h1>Bibliotheeksysteem</h1>
    <ul>
        <li><a href="{{ path('app_home') }}">Home</a></li>
        <li><a href="{{ path('app_customer_index') }}">Overzicht van de klanten</a></li>
        <li><a href="{{ path('app_book_index') }}">Overzicht van de boeken</a></li>
        <li><a href="{{ path('app_author_index') }}">Overzicht van de auteurs</a></li>
        <li><a href="{{ path('app_loan_index') }}">Overzicht van de uitleningen</a></li>
    </ul>
</div>
