{% extends 'base.html.twig' %}

{% block title %}Uitleningdetails{% endblock %}

{% block body %}
    <h1>Uitleningdetails</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>#</th>
                <td>{{ loan.id }}</td>
            </tr>
            <tr>
                <th>Boek</th>
                {% for book in loan.book %}
                    <td>{{ book }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Klant</th>
                <td>{{ loan.customer }}</td>
            </tr>
            <tr>
                <th>Uitgeleend op</th>
                <td>{{ loan.startDate ? loan.startDate|date('d-m-Y H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Uitgeleend tot</th>
                <td>{{ loan.endDate ? loan.endDate|date('d-m-Y H:i') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <div class="mb-4">
        <a href="{{ path('app_loan_index') }}">Terug naar overzicht</a> |
        <a href="{{ path('app_loan_edit', {'id': loan.id}) }}">Bewerken</a>
    </div>

    {{ include('loan/_delete_form.html.twig') }}
{% endblock %}
